<div class="container">
  <div class="row mt-4">
    <div *ngIf="!isPractioner" class="col-md-12 text-center">
      <a class="main-btn text-center" [routerLink]="['/dashboard/about/edit']"  >EDIT PAGE</a>
    </div>
    <div class="col-md-12 mt-4 text-center">
      <img class="img-fluid" src="../../../../../assets/images/about.png" />
    </div>
  </div>
  <div class="row m-5 py-5 text-center">
    <div class="col-md-12"><img class="img-fluid abt-logo" src="../../../../../assets/images/playkit_logoBlack.png" /></div>
  </div>
  <h1>MOVEMENT FOR SPORT PLAYKIT</h1>
  <h3 class="h3-heding text-center">WHAT IS THE PLAYKIT?</h3>
  <p class="text-center mt-5 h4">The Playkit is a games-based resource designed to improve the movement skills of
    children
    between the ages of 8 and 12 years in a fun and dynamic way.<br /><br />

    Development of movement skills during childhood is crucial to enable participation in a wide
    range of sports and activities at any time of life. There is a direct positive relationship
    between children’s movement and their physical activity. So, it is crucial that we help
    children develop movement skills in a fun and positive way to prepare them for enjoyable
    involvement in physical activity and sport, for life.</p>

  <div class="row my-5">
    <div class="col-md-12 text-center">
      <a class="main-btn-cncel text-center">REVIEW TASKS</a>
      <a class="{btnClass} text-center">BEGIN TRAINING </a>
    </div>
  </div>
</div>