<div class="main-d dashboard permision">
    <div class="container">
        <div class="row">
            <div class="sec-menu">
                <ul class="mb-0">
                    <li><a href="groups.html">USERS</a></li>
                    <li><a href="class.html">CLASSES</a></li>
                    <li><a href="schools.html">SCHOOLS</a></li>
                    <li><a href="regions.html">REGIONS</a></li>
                    <li><a href="country.html" class="active">COUNTRIES</a></li>
                </ul>
                <label class="text-left desknone">SELECT GROUP TYPE</label>
                <div class="sec-menu-slct" id="custom-select">

                </div>
            </div>

        </div>

        <h1>COUNTRIES</h1>
        <div class="row mb-5">
            <div class="col-md-3"></div>
            <div class="col-md-6 serch-sec">
                <div class="input-group">
                    <input type="search" class="form-control rounded" placeholder="Search by" aria-label="Search"
                        aria-describedby="search-addon" />
                    <a href="" class="src-icn"></a>
                </div>
                <a href="" class="btn">Reset All</a>
            </div>
            <div class="col-md-3"></div>
        </div>
        <table class="table table-condensed" style="border-collapse:collapse;">
            <thead>
                <tr>
                    <th>COUNTRY NAME</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Country Name</td>
                </tr>
                <tr>
                    <td>Country Name</td>
                </tr>
                <tr>
                    <td>Country Name</td>
                </tr>
                <tr>
                    <td>Country Name</td>
                </tr>
                <tr>
                    <td>Country Name</td>
                </tr>
                <tr>
                    <td>Country Name</td>
                </tr>

            </tbody>
        </table>
    </div>