<div class="container">
    <div class="row mt-4">
        <div class="col-md-12 text-center">
            <a class="main-btn-cncel text-center" (click)="navigateTo('/dashboard/play-it/edit-page')">EDIT PAGE</a>
            <a class="main-btn text-center" (click)="navigateTo('/dashboard/play-it/add')" >CREATE PLAYIT</a>
        </div>
        <div class="col-md-12 mt-4 text-center">
            <img class="img-fluid" src="../../../assets/images/task.png" />
        </div>
    </div>

    <h1>PLAY IT</h1>
    <h3 class="h3-heding text-center">CLEAR INSTRUCTIONS AND VIDEO DEMONSTRATIONS </h3>
    <p class="text-center mt-5 h4">This Playkit contains 14 carefully designed fun and progressively challenging
        activities to ensure children develop of a full range of movement skills, in terms of their stability,
        locomotion and object control. It helps coaches create an activity for children and assess their movement in a
        simple way that engages children along the way. Coaches can use the Playkit in any sport program. Becoming more
        competent in performing these movement skills in increasingly challenging games situations will prepare children
        for participation in sport specific, dynamic environments.</p>


    <div class="row">
        <div class="col-md-12 mt-5">
            <div *ngFor="let item of tasks | keyvalue;">
                <a href="#{{item.key}}" class="cls-name {{item.value.color}} text-center" data-toggle="collapse">assess it {{item.key}}
                    <img src="../../../assets/images/aro-g.svg"></a>
                <div id="{{item.key}}" class="collapse my-5">
                    <div class="row" >
                        <div class="col-md-3 text-center" *ngFor="let task of item.value.tasks" >
                            <img class="img-fluid" [src]="task.img" (click)="getDetail(task.id)" />
                            <h2 class="mt-4 p-0">{{task.task}}</h2>
                            <h3 class="mt-2">{{task.title}}</h3>
                            <a class="main-btn-cncel text-center mt-2" [href]="task.img" [download]="task.isDownloadable">DOWNLOAD ACTIVITY CARD</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>