<div class="container">
    <div class="row mt-4">
        <div class="col-md-12 text-center">
            <a class="main-btn-cncel text-center" (click)="navigateTo('/dashboard/edit-task')">EDIT PAGE</a>
            <a class="main-btn text-center" (click)="navigateTo('/dashboard/add-task')" >CREATE TASK</a>
        </div>
        <div class="col-md-12 mt-4 text-center">
            <img class="img-fluid" src="../../../assets/images/task.png" />
        </div>
    </div>

    <h1>PLAY IT</h1>
    <h3 class="h3-heding text-center">CLEAR INSTRUCTIONS AND VIDEO DEMONSTRATIONS </h3>
    <p class="text-center mt-5 h4">This Playkit contains 14 carefully designed fun and progressively challenging
        activities to ensure children develop of a full range of movement skills, in terms of their stability,
        locomotion and object control. It helps coaches create an activity for children and assess their movement in a
        simple way that engages children along the way. Coaches can use the Playkit in any sport program. Becoming more
        competent in performing these movement skills in increasingly challenging games situations will prepare children
        for participation in sport specific, dynamic environments.</p>


    <div class="row">
        <div class="col-md-12 mt-5">
            <a href="#demo" class="cls-name ply-phse text-center" data-toggle="collapse">play it PHASE 1 <img
                    src="../../../assets/images/aro-g.svg"></a>
            <div id="demo" class="collapse">
                <div class="row">
                    <div class="col-md-3 text-center">
                        <img class="img-fluid" src="../../../assets/images/P1-T1-TTime-Play.png" />
                        <h2 class="mt-4 p-0">TASK 1</h2>
                        <h3 class="mt-2">T-Time</h3>
                        <a class="main-btn-cncel text-center mt-2" >DOWNLOAD ACTIVITY CARD</a>
                    </div>
                    <div class="col-md-3 text-center">
                        <img class="img-fluid" src="../../../assets/images/P1-T2-Cornerball-Play.png" />
                        <h2 class="mt-4 p-0">TASK 2</h2>
                        <h3 class="mt-2">Cornerball</h3>
                        <a class="main-btn-cncel text-center mt-2" >DOWNLOAD ACTIVITY CARD</a>
                    </div>
                    <div class="col-md-3 text-center">
                        <img class="img-fluid" src="../../../assets/images/P1-T3-Raid-Play.png" />
                        <h2 class="mt-4 p-0">TASK 3</h2>
                        <h3 class="mt-2">Raid</h3>
                        <a class="main-btn-cncel text-center mt-2" >DOWNLOAD ACTIVITY CARD</a>
                    </div>
                    <div class="col-md-3 text-center">
                        <img class="img-fluid" src="../../../assets/images/P1-T4-SpaceInvaders2V1-Play.png" />
                        <h2 class="mt-4 p-0">TASK 4</h2>
                        <h3 class="mt-2">Space Invaders 1 2v1</h3>
                        <a class="main-btn-cncel text-center mt-2" >DOWNLOAD ACTIVITY CARD</a>
                    </div>
                </div>
            </div>
            <a href="#demo1" class="cls-name ply-phse col-mr text-center mt-4" data-toggle="collapse">play it PHASE 2
                <img src="../../../assets/images/aro-m.svg"></a>
            <div id="demo1" class="collapse">
                <div class="row">
                    <div class="col-md-3 text-center">
                        <img class="img-fluid" src="../../../assets/images/P1-T1-TTime-Play.png" />
                        <h2 class="mt-4 p-0">TASK 1</h2>
                        <h3 class="mt-2">T-Time</h3>
                        <a class="main-btn-cncel text-center mt-2" >DOWNLOAD ACTIVITY CARD</a>
                    </div>
                    <div class="col-md-3 text-center">
                        <img class="img-fluid" src="../../../assets/images/P1-T2-Cornerball-Play.png" />
                        <h2 class="mt-4 p-0">TASK 2</h2>
                        <h3 class="mt-2">Cornerball</h3>
                        <a class="main-btn-cncel text-center mt-2" >DOWNLOAD ACTIVITY CARD</a>
                    </div>
                    <div class="col-md-3 text-center">
                        <img class="img-fluid" src="../../../assets/images/P1-T3-Raid-Play.png" />
                        <h2 class="mt-4 p-0">TASK 3</h2>
                        <h3 class="mt-2">Raid</h3>
                        <a class="main-btn-cncel text-center mt-2" >DOWNLOAD ACTIVITY CARD</a>
                    </div>
                    <div class="col-md-3 text-center">
                        <img class="img-fluid" src="../../../assets/images/P1-T4-SpaceInvaders2V1-Play.png" />
                        <h2 class="mt-4 p-0">TASK 4</h2>
                        <h3 class="mt-2">Space Invaders 1 2v1</h3>
                        <a class="main-btn-cncel text-center mt-2" >DOWNLOAD ACTIVITY CARD</a>
                    </div>
                </div>
            </div>
            <a href="#demo2" class="cls-name ply-phse col-rd text-center mt-4" data-toggle="collapse">play it PHASE 3
                <img src="../../../assets/images/aro-r.svg"></a>
            <div id="demo2" class="collapse">
                <div class="row">
                    <div class="col-md-3 text-center">
                        <img class="img-fluid" src="../../../assets/images/P1-T1-TTime-Play.png" />
                        <h2 class="mt-4 p-0">TASK 1</h2>
                        <h3 class="mt-2">T-Time</h3>
                        <a class="main-btn-cncel text-center mt-2" >DOWNLOAD ACTIVITY CARD</a>
                    </div>
                    <div class="col-md-3 text-center">
                        <img class="img-fluid" src="../../../assets/images/P1-T2-Cornerball-Play.png" />
                        <h2 class="mt-4 p-0">TASK 2</h2>
                        <h3 class="mt-2">Cornerball</h3>
                        <a class="main-btn-cncel text-center mt-2" >DOWNLOAD ACTIVITY CARD</a>
                    </div>
                    <div class="col-md-3 text-center">
                        <img class="img-fluid" src="../../../assets/images/P1-T3-Raid-Play.png" />
                        <h2 class="mt-4 p-0">TASK 3</h2>
                        <h3 class="mt-2">Raid</h3>
                        <a class="main-btn-cncel text-center mt-2" >DOWNLOAD ACTIVITY CARD</a>
                    </div>
                    <div class="col-md-3 text-center">
                        <img class="img-fluid" src="../../../assets/images/P1-T4-SpaceInvaders2V1-Play.png" />
                        <h2 class="mt-4 p-0">TASK 4</h2>
                        <h3 class="mt-2">Space Invaders 1 2v1</h3>
                        <a class="main-btn-cncel text-center mt-2" >DOWNLOAD ACTIVITY CARD</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>