<table class="table table-condensed" style="border-collapse:collapse;">
    <thead>
        <tr>
            <th>TRAINING TASK NAME</th>
            <th class="mdnone">QUESTIONS</th>
            <th class="mdnone">CORRECT</th>
            <th>%</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of list" >
            <td>Task Name Training-{{item}}</td>
            <td class="mdnone">#</td>
            <td class="mdnone">#</td>
            <td>%</td>
        </tr>
    </tbody>
</table>