<div class="main-d dashboard permision">
    <div class="container">
        <div class="row">
            <div class="sec-menu">
                <ul class="mb-0">
                    <li><a href="groups.html">USERS</a></li>
                    <li><a href="class.html">CLASSES</a></li>
                    <li><a href="schools.html" class="active">SCHOOLS</a></li>
                    <li><a href="regions.html">REGIONS</a></li>
                    <li><a href="country.html">COUNTRIES</a></li>
                </ul>
                <label class="text-left desknone">SELECT GROUP TYPE</label>
                <div class="sec-menu-slct">

                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <!-- <a class="main-btn-cncel text-center" href="">ADD CLASS</a> -->
                <a class="main-btn text-center" href="create_a_stage_one.html">ADD SCHOOL</a>
            </div>
        </div>

        <h1>SCHOOLS</h1>
        <div class="row mb-5">
            <div class="col-md-4"></div>
            <div class="col-md-5 serch-sec">
                <div class="input-group">
                    <input type="search" class="form-control rounded" placeholder="Search by" aria-label="Search"
                        aria-describedby="search-addon" />
                    <a href="" class="src-icn"></a>
                </div>
                <a href="" class="btn">Reset All</a>
            </div>
            <div class="col-md-3"></div>
        </div>
        <table class="table table-condensed" style="border-collapse:collapse;">
            <thead>
                <tr>
                    <th>SCHOOL NAME</th>
                    <th class="mdnone">REGION</th>
                    <th class="mdnone">COUNTRY</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>School Name</td>
                    <td class="mdnone">Region</td>
                    <td class="mdnone">Country</td>
                    <td class="arow-dwn"><a href=""><img src="images/arow-right.svg"></a></td>
                </tr>
                <tr>
                    <td>School Name</td>
                    <td class="mdnone">Region</td>
                    <td class="mdnone">Country</td>
                    <td class="arow-dwn"><a href=""><img src="images/arow-right.svg"></a></td>
                </tr>
                <tr>
                    <td>School Name</td>
                    <td class="mdnone">Region</td>
                    <td class="mdnone">Country</td>
                    <td class="arow-dwn"><a href=""><img src="images/arow-right.svg"></a></td>
                </tr>
                <tr>
                    <td>School Name</td>
                    <td class="mdnone">Region</td>
                    <td class="mdnone">Country</td>
                    <td class="arow-dwn"><a href=""><img src="images/arow-right.svg"></a></td>
                </tr>
                <tr>
                    <td>School Name</td>
                    <td class="mdnone">Region</td>
                    <td class="mdnone">Country</td>
                    <td class="arow-dwn"><a href=""><img src="images/arow-right.svg"></a></td>
                </tr>
            </tbody>
        </table>
    </div>