<div class="container">
  <div class="row das-menu">
      <div class="col-md-2 for-mob">
          <a [routerLink]="['/dashboard/about']" >
              <img height="30" src="../../../assets/images/about.svg" >
              ABOUT</a>
      </div>
      <div class="col-md-2 for-mob">
          <a [routerLink]="['/dashboard/training']" >
              <img height="30" src="../../../assets/images/training.svg"  >
              TRAINING</a>
      </div>
      <div class="col-md-2 for-mob for-mob">
          <a [routerLink]="['/dashboard/play-it']" >
              <img height="30" src="../../../assets/images/tasks.svg">
              PLAY IT</a>
      </div>
      <div class="col-md-2 for-mob">
          <a [routerLink]="['/dashboard/assess']" >
              <img height="30" src="../../../assets/images/assess.svg">
              ASSESS IT</a>
      </div>
      <div class="col-md-2 for-mob">
          <a [routerLink]="['/dashboard/groups']" >
              <img height="30" src="../../../assets/images/groups.svg" >
              GROUPS</a>
      </div>
      <div class="col-md-2 for-mob">
          <a>
              <img height="30" src="../../../assets/images/analytics.svg"  >
              ANALYSE IT</a>
      </div>
  </div>
  <div class="row">
      <div class="col-md-6">
          <div class="data-sta">
              &nbsp;<br /> NUMBER OF PARTICIPANTS
              <span>21</span>
          </div>
      </div>
      <div class="col-md-6">
          <div class="data-sta">
              NUMBER OF <br />ASSESSMENTS COMPLETED
              <span>46</span>
          </div>
      </div>
  </div>
  <div class="row mt-4">
      <div class="col-md-12">
          <h1>MY TRAINING STATUS: COMPLETED</h1>
      </div>
  </div>
</div>