<div class="container">
    <div class="row mt-5">
        <div class="col-md-12 text-center">
            <a class="main-btn-cncel text-center"  >EDIT CLASS</a>
            <a class="main-btn text-center" >ADD CLASS</a>
        </div>
    </div>

    <h1>MY GROUPS</h1>
    <div class="row">
        <div class="col-md-12 mt-2">
            <a href="#demo" class="cls-name text-center" data-toggle="collapse">CLASS NAME <img
                    style="transform:rotate(90deg);" src="../../../../../assets/images/arow-right.svg"></a>
            <div id="demo" class="collapse show">
                <table class="table table-condensed" style="border-collapse:collapse;">
                    <thead>
                        <tr>
                            <th>PARTICIPANT NAME</th>
                            <th class="mdnone">GENDER</th>
                            <th class="mdnone">DOB</th>
                            <th class="mdnone">PARENT NAME</th>
                            <th class="mdnone">EMAIL</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>First/Last Name</td>
                            <td class="mdnone">male/female</td>
                            <td class="mdnone">DD-MM-YYYY</td>
                            <td class="mdnone">First/Last Name</td>
                            <td class="mdnone">Email</td>
                            <td class="arow-dwn"><a href=""><img src="../../../../../assets/images/arow-right.svg"></a>
                            </td>
                        </tr>
                        <tr>
                            <td>First/Last Name</td>
                            <td class="mdnone">male/female</td>
                            <td class="mdnone">DD-MM-YYYY</td>
                            <td class="mdnone">First/Last Name</td>
                            <td class="mdnone">Email</td>
                            <td class="arow-dwn"><a href=""><img src="../../../../../assets/images/arow-right.svg"></a>
                            </td>
                        </tr>
                        <tr>
                            <td>First/Last Name</td>
                            <td class="mdnone">male/female</td>
                            <td class="mdnone">DD-MM-YYYY</td>
                            <td class="mdnone">First/Last Name</td>
                            <td class="mdnone">Email</td>
                            <td class="arow-dwn"><a href=""><img src="../../../../../assets/images/arow-right.svg"></a>
                            </td>
                        </tr>
                        <tr>
                            <td>First/Last Name</td>
                            <td class="mdnone">male/female</td>
                            <td class="mdnone">DD-MM-YYYY</td>
                            <td class="mdnone">First/Last Name</td>
                            <td class="mdnone">Email</td>
                            <td class="arow-dwn"><a href=""><img src="../../../../../assets/images/arow-right.svg"></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <a href="#demo1" class="cls-name text-center" data-toggle="collapse">CLASS NAME <img
                    style="transform:rotate(90deg);" src="../../../../../assets/images/arow-right.svg"></a>
            <div id="demo1" class="collapse">
                <table class="table table-condensed" style="border-collapse:collapse;">
                    <thead>
                        <tr>
                            <th>PARTICIPANT NAME</th>
                            <th class="mdnone">GENDER</th>
                            <th class="mdnone">DOB</th>
                            <th class="mdnone">PARENT NAME</th>
                            <th class="mdnone">EMAIL</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>First/Last Name</td>
                            <td class="mdnone">male/female</td>
                            <td class="mdnone">DD-MM-YYYY</td>
                            <td class="mdnone">First/Last Name</td>
                            <td class="mdnone">Email</td>
                            <td class="arow-dwn"><a href=""><img src="../../../../../assets/images/arow-right.svg"></a>
                            </td>
                        </tr>
                        <tr>
                            <td>First/Last Name</td>
                            <td class="mdnone">male/female</td>
                            <td class="mdnone">DD-MM-YYYY</td>
                            <td class="mdnone">First/Last Name</td>
                            <td class="mdnone">Email</td>
                            <td class="arow-dwn"><a href=""><img src="../../../../../assets/images/arow-right.svg"></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <a href="#demo2" class="cls-name text-center" data-toggle="collapse">CLASS NAME <img
                    style="transform:rotate(90deg);" src="../../../../../assets/images/arow-right.svg"></a>
            <div id="demo2" class="collapse">
                <table class="table table-condensed" style="border-collapse:collapse;">
                    <thead>
                        <tr>
                            <th>PARTICIPANT NAME</th>
                            <th class="mdnone">GENDER</th>
                            <th class="mdnone">DOB</th>
                            <th class="mdnone">PARENT NAME</th>
                            <th class="mdnone">EMAIL</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>First/Last Name</td>
                            <td class="mdnone">male/female</td>
                            <td class="mdnone">DD-MM-YYYY</td>
                            <td class="mdnone">First/Last Name</td>
                            <td class="mdnone">Email</td>
                            <td class="arow-dwn"><a href=""><img src="../../../../../assets/images/arow-right.svg"></a>
                            </td>
                        </tr>
                        <tr>
                            <td>First/Last Name</td>
                            <td class="mdnone">male/female</td>
                            <td class="mdnone">DD-MM-YYYY</td>
                            <td class="mdnone">First/Last Name</td>
                            <td class="mdnone">Email</td>
                            <td class="arow-dwn"><a href=""><img src="../../../../../assets/images/arow-right.svg"></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>