<div class="sys-app-details">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1><a href=""><i class="fa fa-chevron-left"></i> Back</a></h1>
            </div>
        </div>
        <div class="row mt-5 mb-5">
            <div class="col-md-12 text-center">
                <a class="main-btn-cncel text-center" href="">DELETE CLASS</a>
            </div>
        </div>
        <h1>EDIT CLASS: CLASS NAME</h1>
        <form>
            <div class="row">
                <div class="col-md-12">
                    <p class="usr-detal">Date Added: DD-MM-YYYY</p>
                </div>
            </div>
            <div class="row mb-5 mt-3">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="exampleFormControlInput1">PRACTITIONER</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1"
                            placeholder="Practitioner Name">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">CLASS NAME</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1"
                            placeholder="Enter Class Name">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">COUNTRY</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1"
                            placeholder="Country Name">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">REGION</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Region">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">SCHOOL</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="School">
                    </div>
                </div>
                <div class="col-md-12 text-left mob-text-center">
                    <a class="main-btn-cncel text-center" href="">UPLOAD CSV FILE</a>
                </div>
            </div>
        </form>

        <table class="table table-condensed td100" style="border-collapse:collapse;">
            <thead>
                <tr>
                    <th class="pl-0 pb-0 mdnone">PARTICIPANTS</th>
                    <th class="pl-0 pb-0 mdnone">GENDER</th>
                    <th class="pl-0 pb-0 mdnone">DOB</th>
                    <th class="pl-0 pb-0 mdnone">Parent Email Address</th>
                    <th class="pl-0 pb-0 mdnone"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="w-25">
                        <div class="form-group mb-0">
                            <input type="name" class="form-control" id="exampleFormControlInput1"
                                placeholder="First/Last Name">
                        </div>
                    </td>
                    <td class="pl-0 w-25">
                        <div class="form-group mb-0">
                            <div id="custom-select">
                                <select>
                                    <option>male</option>
                                    <option>female</option>
                                </select>
                            </div>
                        </div>
                    </td>
                    <td class="pl-0 w-25">
                        <div class="form-group mb-0">
                            <input type="date" class="form-control" id="birthday" name="birthday"
                                placeholder="Select Start Date">
                        </div>
                    </td>
                    <td class="pl-0 w-25">
                        <div class="form-group mb-0">
                            <input type="name" class="form-control" id="exampleFormControlInput1" placeholder="email">
                        </div>
                    </td>
                    <td class="pl-0 w-25">
                        <a href="" class="mt-2 d-block"><img src="images/X.svg" /></a>
                    </td>
                </tr>
                <tr>
                    <td class="w-25">
                        <div class="form-group mb-0">
                            <input type="name" class="form-control" id="exampleFormControlInput1"
                                placeholder="First/Last Name">
                        </div>
                    </td>
                    <td class="pl-0 w-25">
                        <div class="form-group mb-0">
                            <div id="custom-select">
                                <select>
                                    <option>male</option>
                                    <option>female</option>
                                </select>
                            </div>
                        </div>
                    </td>
                    <td class="pl-0 w-25">
                        <div class="form-group mb-0">
                            <input type="date" class="form-control" id="birthday" name="birthday"
                                placeholder="Select Start Date">
                        </div>
                    </td>
                    <td class="pl-0 w-25">
                        <div class="form-group mb-0">
                            <input type="name" class="form-control" id="exampleFormControlInput1" placeholder="email">
                        </div>
                    </td>
                    <td class="pl-0 w-25">
                        <a href="" class="mt-2 d-block"><img src="images/X.svg" /></a>
                    </td>
                </tr>
                <tr>
                    <td class="w-25">
                        <div class="form-group mb-0">
                            <input type="name" class="form-control" id="exampleFormControlInput1"
                                placeholder="First/Last Name">
                        </div>
                    </td>
                    <td class="pl-0 w-25">
                        <div class="form-group mb-0">
                            <div id="custom-select">
                                <select>
                                    <option>male</option>
                                    <option>female</option>
                                </select>
                            </div>
                        </div>
                    </td>
                    <td class="pl-0 w-25">
                        <div class="form-group mb-0">
                            <input type="date" class="form-control" id="birthday" name="birthday"
                                placeholder="Select Start Date">
                        </div>
                    </td>
                    <td class="pl-0 w-25">
                        <div class="form-group mb-0">
                            <input type="name" class="form-control" id="exampleFormControlInput1" placeholder="email">
                        </div>
                    </td>
                    <td class="pl-0 w-25">
                        <a href="" class="mt-2 d-block"><img src="images/X.svg" /></a>
                    </td>
                </tr>
                <tr>
                    <td class="w-25">
                        <div class="form-group mb-0">
                            <input type="name" class="form-control" id="exampleFormControlInput1"
                                placeholder="First/Last Name">
                        </div>
                    </td>
                    <td class="pl-0 w-25">
                        <div class="form-group mb-0">
                            <div id="custom-select">
                                <select>
                                    <option>male</option>
                                    <option>female</option>
                                </select>
                            </div>
                        </div>
                    </td>
                    <td class="pl-0 w-25">
                        <div class="form-group mb-0">
                            <input type="date" class="form-control" id="birthday" name="birthday"
                                placeholder="Select Start Date">
                        </div>
                    </td>
                    <td class="pl-0 w-25">
                        <div class="form-group mb-0">
                            <input type="name" class="form-control" id="exampleFormControlInput1" placeholder="email">
                        </div>
                    </td>
                    <td class="pl-0 w-25">
                        <a href="" class="mt-2 d-block"><img src="images/X.svg" /></a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-md-12">
                <a href="" class="ad-anotr">+ add another</a>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-12 text-center">
                <a class="main-btn-cncel text-center" href="">Cancel</a>
                <a class="main-btn text-center" href="create_a_stage_one.html">Save</a>
            </div>
        </div>
    </div>
</div>>