<div class="container">
    <div class="row mt-4">
        <div class="col-md-12 text-center">
            <a class="main-btn-cncel text-center">EDIT PAGE</a>
            <a class="main-btn text-center" (click)="navigateTo()" >VIEW TRAINING TASKS</a>
        </div>
        <div class="col-md-12 mt-4 text-center">
            <img class="img-fluid" src="../../../assets/images/training.png" />
        </div>
    </div>
    <h1>ASSESSMENT ACCURACY TRAINING</h1>
    <h3 class="h3-heding text-center">HOW TO USE THIS PLAYKIT</h3>
    <p class="text-center mt-5 h4">This Playkit is designed for coaches to provide fun and progressively challenging
        activities for children aged 8-12 years and ensure that children develop a full range of movement skills, in
        terms of their stability, locomotion and object control. It helps coaches create an activity for
        children and assess their movement in a simple way that engages children along the way.</p>

    <div class="row my-5">
        <div class="col-md-12 text-center">
            <a class="main-btn-cncel text-center">REVIEW TASKS</a>
            <a class="disable-btn text-center">BEGIN TRAINING</a>
        </div>
    </div>
</div>