<div class="container">
   <app-back-button></app-back-button><h1> ADD COUNTRY</h1>
   <form>
      <div class="row mb-5 mt-3">
         <div class="col-md-4">  
            <div class="form-group">
               <label for="exampleFormControlInput1">COUNTRY NAME</label>
               <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Enter Country Name">
            </div>
         </div>
      </div>
   </form>

   <div class="row mt-5">
      <div class="col-md-12 text-center">
         <a class="main-btn-cncel text-center">Cancel</a>
         <a class="main-btn text-center">Save</a>
      </div>
   </div>
</div>