<div class="container">
    <div class="task-1">
        <app-back-button></app-back-button> <h1><span>assess it</span> PHASE 1 - TASK 1</h1>
        <h2 class="text-center m-0 mb-5">T-Time</h2>
    </div>
    <form>
        <div class="row mb-5 mt-3">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="exampleFormControlInput1">ASSESSMENT DATE</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Today’s Date">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">GROUP</label>
                    <div id="custom-select">
                        <select>
                            <option>select class</option>
                            <option>select class</option>
                            <option>select class</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-12 mt-5">
                <div class="row">
                    <div class="col-md-6">
                        <h2 class="mt-0">LOOK FOR THIS MOVEMENT</h2>
                        <ul class="list-stl">
                            <li>Lunges</li>
                            <li>Pushes off</li>
                            <li>Side-steps back</li>
                        </ul>
                    </div>
                    <div class="col-md-6 mob-text-center">
                        <h4 class="mb-3">Review assessment criteria.</h4>
                        <img class="img-fluid" src="../../../../assets/images/traning-stdnt.png" />
                        <a class="main-btn-cncel text-center mt-4" href="">DOWNLOAD VIDEO</a>
                    </div>
                </div>
            </div>
            <div class="col-md-12 Configuration">
                <h2>DEVELOP THESE STAGES</h2>
                <table class="table table-bordered table-hover develp-stage">
                    <thead>
                        <tr>
                            <th style="border: none;" class="col-md-4"></th>
                            <th class="col-md-4">1. EMERGING</th>
                            <th class="col-md-4">2. ‘CAN DO’</th>
                            <th class="col-md-2">3. ACCOMPLISHED</th>
                            <th class="col-md-2">4. CONFIDENT</th>
                            <th class="col-md-2">5. PROFICIENT</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="name in getdrugnameNewArray">
                            <td class="text-center">HEAD</td>
                            <td><textarea name="address" rows="3" placeholder="enter text"></textarea></td>
                            <td><textarea name="address" rows="3" placeholder="enter text"></textarea></td>
                            <td><textarea name="address" rows="3" placeholder="enter text"></textarea></td>
                            <td><textarea name="address" rows="3" placeholder="enter text"></textarea></td>
                            <td><textarea name="address" rows="3" placeholder="enter text"></textarea></td>
                        </tr>
                        <tr ng-repeat="name in getdrugnameNewArray">
                            <td class="text-center">ARMS</td>
                            <td><textarea name="address" rows="3" placeholder="enter text"></textarea></td>
                            <td><textarea name="address" rows="3" placeholder="enter text"></textarea></td>
                            <td><textarea name="address" rows="3" placeholder="enter text"></textarea></td>
                            <td><textarea name="address" rows="3" placeholder="enter text"></textarea></td>
                            <td><textarea name="address" rows="3" placeholder="enter text"></textarea></td>
                        </tr>
                        <tr ng-repeat="name in getdrugnameNewArray">
                            <td class="text-center">LEGS</td>
                            <td><textarea name="address" rows="3" placeholder="enter text"></textarea></td>
                            <td><textarea name="address" rows="3" placeholder="enter text"></textarea></td>
                            <td><textarea name="address" rows="3" placeholder="enter text"></textarea></td>
                            <td><textarea name="address" rows="3" placeholder="enter text"></textarea></td>
                            <td><textarea name="address" rows="3" placeholder="enter text"></textarea></td>
                        </tr>
                        <tr ng-repeat="name in getdrugnameNewArray">
                            <td class="text-center">BODY</td>
                            <td><textarea name="address" rows="3" placeholder="enter text"></textarea></td>
                            <td><textarea name="address" rows="3" placeholder="enter text"></textarea></td>
                            <td><textarea name="address" rows="3" placeholder="enter text"></textarea></td>
                            <td><textarea name="address" rows="3" placeholder="enter text"></textarea></td>
                            <td><textarea name="address" rows="3" placeholder="enter text"></textarea></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-9 Configuration">
                <h2>ASSESS</h2>
                <table class="table table-condensed" style="border-collapse:collapse;">
                    <thead>
                        <tr>
                            <th class="pb-0 mdnone">NAME</th>
                            <th class="pb-0 mdnone text-center">HEAD</th>
                            <th class="pb-0 mdnone text-center">ARMS</th>
                            <th class="pb-0 mdnone text-center">LEGS</th>
                            <th class="pb-0 mdnone text-center">BODY</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="pl-0 border-0 td-wdt100">
                                <div class="form-group mb-0">
                                    <label class="desknone">NAME</label>
                                    <input type="name" class="form-control" id="exampleFormControlInput1"
                                        placeholder="Participant Name">
                                </div>
                            </td>
                            <td class="border-0 td-wdt25 pl-0mobil">
                                <div class="form-group mb-0">
                                    <label class="desknone text-center">HEAD</label>
                                    <div id="custom-select">
                                        <select>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                        </select>
                                    </div>
                                </div>
                            </td>
                            <td class="border-0 td-wdt25">
                                <div class="form-group mb-0">
                                    <label class="desknone text-center">ARMS</label>
                                    <div id="custom-select">
                                        <select>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                        </select>
                                    </div>
                                </div>
                            </td>
                            <td class="border-0 td-wdt25">
                                <div class="form-group mb-0">
                                    <label class="desknone text-center">LEGS</label>
                                    <div id="custom-select">
                                        <select>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                        </select>
                                    </div>
                                </div>
                            </td>
                            <td class="border-0 td-wdt25">
                                <div class="form-group mb-0">
                                    <label class="desknone text-center">BODY</label>
                                    <div id="custom-select">
                                        <select>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                        </select>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="pl-0 border-0 td-wdt100">
                                <div class="form-group mb-0">
                                    <label class="desknone">NAME</label>
                                    <input type="name" class="form-control" id="exampleFormControlInput1"
                                        placeholder="Participant Name">
                                </div>
                            </td>
                            <td class="border-0 td-wdt25 pl-0mobil">
                                <div class="form-group mb-0">
                                    <label class="desknone text-center">HEAD</label>
                                    <div id="custom-select">
                                        <select>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                        </select>
                                    </div>
                                </div>
                            </td>
                            <td class="border-0 td-wdt25">
                                <div class="form-group mb-0">
                                    <label class="desknone text-center">ARMS</label>
                                    <div id="custom-select">
                                        <select>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                        </select>
                                    </div>
                                </div>
                            </td>
                            <td class="border-0 td-wdt25">
                                <div class="form-group mb-0">
                                    <label class="desknone text-center">LEGS</label>
                                    <div id="custom-select">
                                        <select>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                        </select>
                                    </div>
                                </div>
                            </td>
                            <td class="border-0 td-wdt25">
                                <div class="form-group mb-0">
                                    <label class="desknone text-center">BODY</label>
                                    <div id="custom-select">
                                        <select>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                        </select>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="pl-0 border-0 td-wdt100">
                                <div class="form-group mb-0">
                                    <label class="desknone">NAME</label>
                                    <input type="name" class="form-control" id="exampleFormControlInput1"
                                        placeholder="Participant Name">
                                </div>
                            </td>
                            <td class="border-0 td-wdt25 pl-0mobil">
                                <div class="form-group mb-0">
                                    <label class="desknone text-center">HEAD</label>
                                    <div id="custom-select">
                                        <select>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                        </select>
                                    </div>
                                </div>
                            </td>
                            <td class="border-0 td-wdt25">
                                <div class="form-group mb-0">
                                    <label class="desknone text-center">ARMS</label>
                                    <div id="custom-select">
                                        <select>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                        </select>
                                    </div>
                                </div>
                            </td>
                            <td class="border-0 td-wdt25">
                                <div class="form-group mb-0">
                                    <label class="desknone text-center">LEGS</label>
                                    <div id="custom-select">
                                        <select>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                        </select>
                                    </div>
                                </div>
                            </td>
                            <td class="border-0 td-wdt25">
                                <div class="form-group mb-0">
                                    <label class="desknone text-center">BODY</label>
                                    <div id="custom-select">
                                        <select>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                        </select>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="pl-0 border-0 td-wdt100">
                                <div class="form-group mb-0">
                                    <label class="desknone">NAME</label>
                                    <input type="name" class="form-control" id="exampleFormControlInput1"
                                        placeholder="Participant Name">
                                </div>
                            </td>
                            <td class="border-0 td-wdt25 pl-0mobil">
                                <div class="form-group mb-0">
                                    <label class="desknone text-center">HEAD</label>
                                    <div id="custom-select">
                                        <select>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                        </select>
                                    </div>
                                </div>
                            </td>
                            <td class="border-0 td-wdt25">
                                <div class="form-group mb-0">
                                    <label class="desknone text-center">ARMS</label>
                                    <div id="custom-select">
                                        <select>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                        </select>
                                    </div>
                                </div>
                            </td>
                            <td class="border-0 td-wdt25">
                                <div class="form-group mb-0">
                                    <label class="desknone text-center">LEGS</label>
                                    <div id="custom-select">
                                        <select>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                        </select>
                                    </div>
                                </div>
                            </td>
                            <td class="border-0 td-wdt25">
                                <div class="form-group mb-0">
                                    <label class="desknone text-center">BODY</label>
                                    <div id="custom-select">
                                        <select>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                        </select>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </form>
    <div class="row mb-5">
        <div class="col-md-3"></div>
        <div class="col-md-6 text-center">
            <a class="disable-btn text-center" href="create_a_stage_one.html">SAVE</a>
        </div>
        <div class="col-md-3 text-right mob-text-left">
            <h2 class="m-0 pb-0">TRY NEXT</h2>
            <h3>END ZONE<br /> KABADDI</h3>
        </div>
    </div>
</div>