<div class="container">
  <div class="row mt-5">
    <div class="col-md-12 text-center">
      <a class="main-btn text-center" (click)="createTask()">CREATE NEW TASK</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 mt-2">
      <a href="#demo" class="cls-name text-center tsk-hd" data-toggle="collapse">TRAINING TASKS <img
          src="../../../../assets/images/aro-blk.svg"></a>
      <div id="demo" class="collapse">
        <training-task-list [list]='[1,2,3,4,5]'></training-task-list>
      </div>
      <a href="#demo1" class="cls-name text-center tsk-hd" data-toggle="collapse">TRAINING RESULTS <img
          src="../../../../assets/images/aro-blk.svg"></a>
      <div id="demo1" class="collapse">
        <training-result-list [list]='[1,2,3,4,5]' ></training-result-list>
      </div>
    </div>
  </div>
</div>