<div class="container">
    <app-back-button></app-back-button>
    <div class="row">
        <div class="col-md-12 text-center">
            <a class="main-btn-cncel text-center" >DEACTIVATE</a>
            <a class="main-btn text-center mt-0" (click)="editTrainingTask()" >EDIT TRAINING TASK</a>
        </div>
    </div>
    <h1>TASK NAME - TRAINING-1</h1>
    <form>
        <div class="row mb-5 mt-3">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="exampleFormControlInput1">DATE CREATED</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Today’s Date">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">PUBLISH DATE</label>
                    <input type="date" class="form-control" id="birthday" name="birthday" placeholder="Enter Date">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">TASK</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Task Name">
                </div>

                <h2>TRAINING VIDEO</h2>
            </div>
            <div class="col-md-12 Configuration">

                <div class="col-md-12 mt-3 px-0">
                    <img class="img-fluid" src="../../../../assets/images/kids-playing-with-ball.png" />
                </div>


                <div class="row">
                    <div class="col-md-12">
                        <h2>QUESTIONS</h2>
                        <div class="row">
                            <div class="col-md-6 text-left">QUESTION</div>
                            <div class="col-md-6 text-right">ANSWER</div>
                        </div>
                        <table class="table table-condensed" style="border-collapse:collapse;">
                            <tbody>
                                <tr>
                                    <td class="border-0" style="width:5%;">1</td>
                                    <td class="pl-0 border-0" style="width:70%;">
                                        <div class="form-group mb-0">
                                            <input type="name" class="form-control" id="exampleFormControlInput1"
                                                placeholder="Enter Question">
                                        </div>
                                    </td>
                                    <td class="px-0 border-0" style="width:20%;">
                                        <div class="form-group mb-0">
                                            <div id="custom-select">
                                                <select>
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                </select>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="border-0" style="width:5%;">2</td>
                                    <td class="pl-0 border-0" style="width:70%;">
                                        <div class="form-group mb-0">
                                            <input type="name" class="form-control" id="exampleFormControlInput1"
                                                placeholder="Enter Question">
                                        </div>
                                    </td>
                                    <td class="px-0 border-0" style="width:20%;">
                                        <div class="form-group mb-0">
                                            <div id="custom-select">
                                                <select>
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                </select>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="border-0" style="width:5%;">3</td>
                                    <td class="pl-0 border-0" style="width:70%;">
                                        <div class="form-group mb-0">
                                            <input type="name" class="form-control" id="exampleFormControlInput1"
                                                placeholder="Enter Question">
                                        </div>
                                    </td>
                                    <td class="px-0 border-0" style="width:20%;">
                                        <div class="form-group mb-0">
                                            <div id="custom-select">
                                                <select>
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                </select>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="border-0" style="width:5%;">4</td>
                                    <td class="pl-0 border-0" style="width:70%;">
                                        <div class="form-group mb-0">
                                            <input type="name" class="form-control" id="exampleFormControlInput1"
                                                placeholder="Enter Question">
                                        </div>
                                    </td>
                                    <td class="px-0 border-0" style="width:20%;">
                                        <div class="form-group mb-0">
                                            <div id="custom-select">
                                                <select>
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                </select>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="border-0" style="width:5%;">5</td>
                                    <td class="pl-0 border-0" style="width:70%;">
                                        <div class="form-group mb-0">
                                            <input type="name" class="form-control" id="exampleFormControlInput1"
                                                placeholder="Enter Question">
                                        </div>
                                    </td>
                                    <td class="px-0 border-0" style="width:20%;">
                                        <div class="form-group mb-0">
                                            <div id="custom-select">
                                                <select>
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                </select>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>