<div class="container">
    <h1>ANALYSE IT</h1>
    <form>
       <div class="row mb-5 mt-3">
           <div class="col-md-12"><h3>DATA POINTS (select from one of the following) </h3></div>
          <div class="col-md-4">                  
             <div class="form-group">
                <label for="exampleFormControlInput1">TASK</label>
                <div id="custom-select">
                   <select>
                      <option>Select Task</option>
                      <option>Select Task</option>
                      <option>Select Task</option>
                   </select>
                </div>
             </div>
          </div>
          <div class="col-md-4">                  
             <div class="form-group">
                <label for="exampleFormControlInput1">MOVEMENT TYPE</label>
                <div id="custom-select">
                   <select>
                      <option>Select Movement Type</option>
                      <option>Select Movement Type</option>
                      <option>Select Movement Type</option>
                   </select>
                </div>
             </div>
          </div>
          <div class="col-md-4">                  
             <div class="form-group">
                <label for="exampleFormControlInput1">PHASE</label>
                <div id="custom-select">
                   <select>
                      <option>Select Phase</option>
                      <option>Select Phase</option>
                      <option>Select Phase</option>
                   </select>
                </div>
             </div>
          </div>
        </div>

        <div class="row mt-3">
           <div class="col-md-12"><h3>DATASET #1</h3></div>
         </div>
        <div class="row">
          <div class="col-md-4">                  
             <div class="form-group">
                <label for="exampleFormControlInput1">SELECT CLASS</label>
                <div id="custom-select">
                   <select>
                      <option>Select Class</option>
                      <option>Select Class</option>
                      <option>Select Class</option>
                   </select>
                </div>
             </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">                  
             <div class="form-group">
                <label for="exampleFormControlInput1">SELECT PARTICIPANT</label>
                <div id="custom-select">
                   <select>
                      <option>All</option>
                      <option>All</option>
                      <option>All</option>
                   </select>
                </div>
             </div>
          </div>
          <div class="col-md-4">                  
             <div class="form-group">
                <label for="exampleFormControlInput1">AGE</label>
                <div id="custom-select">
                   <select>
                      <option>All</option>
                      <option>All</option>
                      <option>All</option>
                   </select>
                </div>
             </div>
          </div>
          <div class="col-md-4">                  
             <div class="form-group">
                <label for="exampleFormControlInput1">GENDER</label>
                <div id="custom-select">
                   <select>
                      <option>All</option>
                      <option>All</option>
                      <option>All</option>
                   </select>
                </div>
             </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">                  
             <div class="form-group">
                <label for="exampleFormControlInput1">DATASET #1 ASSESSMENT DATE</label>
                <div id="custom-select">
                   <select>
                      <option>DD-MM-YYYY</option>
                      <option>DD-MM-YYYY</option>
                      <option>DD-MM-YYYY</option>
                   </select>
                </div>
             </div>
          </div>
        </div>

        <div class="row mt-3">
           <div class="col-md-12"><h3>DATASET #2</h3></div>
           <div class="custom-control custom-radio">
                <input type="radio" id="customRadio12" name="customRadioew" class="custom-control-input" >
                <label class="custom-control-label" for="customRadio12">Yes</label>
             </div>
         </div>
         <div class="row mt-4">
         <div class="col-md-4">                  
             <div class="form-group">
                <label for="exampleFormControlInput1">COUNTRY</label>
                <div id="custom-select">
                   <select>
                      <option>Country Name</option>
                      <option>Country Name</option>
                      <option>Country Name</option>
                   </select>
                </div>
             </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">                  
             <div class="form-group">
                <label for="exampleFormControlInput1">REGION</label>
                <div id="custom-select">
                   <select>
                      <option>Region </option>
                      <option>Region </option>
                      <option>Region </option>
                   </select>
                </div>
             </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">                  
             <div class="form-group">
                <label for="exampleFormControlInput1">SCHOOL</label>
                <div id="custom-select">
                   <select>
                      <option>School </option>
                      <option>School </option>
                      <option>School </option>
                   </select>
                </div>
             </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">                  
             <div class="form-group">
                <label for="exampleFormControlInput1">SELECT CLASS</label>
                <div id="custom-select">
                   <select>
                      <option>Select Class</option>
                      <option>Select Class</option>
                      <option>Select Class</option>
                   </select>
                </div>
             </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">                  
             <div class="form-group">
                <label for="exampleFormControlInput1">SELECT PARTICIPANT</label>
                <div id="custom-select">
                   <select>
                      <option>All</option>
                      <option>All</option>
                      <option>All</option>
                   </select>
                </div>
             </div>
          </div>
          <div class="col-md-4">                  
             <div class="form-group">
                <label for="exampleFormControlInput1">AGE</label>
                <div id="custom-select">
                   <select>
                      <option>All</option>
                      <option>All</option>
                      <option>All</option>
                   </select>
                </div>
             </div>
          </div>
          <div class="col-md-4">                  
             <div class="form-group">
                <label for="exampleFormControlInput1">GENDER</label>
                <div id="custom-select">
                   <select>
                      <option>All</option>
                      <option>All</option>
                      <option>All</option>
                   </select>
                </div>
             </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">                  
             <div class="form-group">
                <label for="exampleFormControlInput1">DATASET #1 ASSESSMENT DATE</label>
                <div id="custom-select">
                   <select>
                      <option>DD-MM-YYYY</option>
                      <option>DD-MM-YYYY</option>
                      <option>DD-MM-YYYY</option>
                   </select>
                </div>
             </div>
          </div>
        </div>

         <div class="row">
           <div class="col-md-12">
                 <a href="" class="ad-anotr">+ add another</a>
              </div>
           </div>
    </form>
    <div class="row">
       <div class="col-md-12 text-center">
          <a class="main-btn-cncel text-center">RESET</a>
          <a class="main-btn text-center" [routerLink]="['/dashboard/analyze-result']" >SHOW RESULTS</a>
       </div>
    </div>
 </div>