<div class="container">
    <h1>EDIT TRAINING PAGE</h1>
    <form>
       <div class="row mb-5 mt-3">

          <div class="col-md-4">                  
             <div class="form-group">
                <label for="exampleFormControlInput1">SELECT LANGUAGE</label>
                <div id="custom-select">
                   <select>
                      <option>English</option>
                      <option>English</option>
                      <option>English</option>
                   </select>
                </div>
             </div>
          </div>

          <div class="col-md-12">
             <div class="form-group">
                <label for="exampleFormControlTextarea1">HERO IMAGE OR VIDEO</label>
                <input type="file" class="file-up" accept=".xlsx,.xls,image/*,.doc,audio/*,.docx,video/*,.ppt,.pptx,.txt,.pdf" multiple>
             </div>
          </div>

          <div class="col-md-6">                  
             <div class="form-group">
                <label for="exampleFormControlInput1">H1</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="TASKS">
             </div>
             <div class="form-group">
                <label for="exampleFormControlInput1">H2</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="CLEAR INSTRUCTIONS AND VIDEO DEMONSTRATIONS">
             </div>
             <div class="form-group">
               <label for="exampleFormControlTextarea2">BODY TEXT</label>
               <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="6"></textarea>
             </div>
             <div class="form-group">
                <label for="exampleFormControlInput1">PRIMARY CTA LABEL</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Begin Training">
             </div>
             <div class="form-group">
                <label for="exampleFormControlInput1">SECONDARY CTA LABEL</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Review Tasks">
             </div>
          </div>
       </div>
    </form>
    <div class="row">
       <div class="col-md-12 text-center">
          <a class="main-btn-cncel text-center" href="">CANCEL</a>
          <a class="main-btn text-center" href="create_a_stage_one.html">SAVE</a>
       </div>
    </div>
 </div>