<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-back-button></app-back-button>
    </div>
  </div>
  <div class="row">
        <div class="col-md-12 text-center">
           <a class="main-btn-cncel text-center" (click)="deleteUser()">DELETE USER</a>
           <a class="main-btn text-center" (click)="editUser()">EDIT</a>
        </div>
     </div>

  <h1>USER NAME</h1>  
    <div class="row">
      <div class="col-md-12">
        <p class="usr-detal">Date Added: DD-MM-YYYY</p>
        <p class="usr-detal mt-5">Email: <a > email</a></p>
        <p class="usr-detal">Role Type: Global Admin</p>
        <p class="usr-detal">Country</p>
        <p class="usr-detal">Region</p>
        <p class="usr-detal">School</p>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-12">
        <h3 class="h3-heding">TRAINING STATUS: COMPLETED</h3>
        <h3 class="h3-heding">RATING: RELIABLE</h3>
      </div>
      <div class="col-md-12">
        <table class="table table-condensed" style="border-collapse:collapse;">
    <thead>
        <tr>
            <th>TRAINING DATE</th>
            <th class="mdnone">ATTEMPTS</th>
            <th class="mdnone">%</th>
            <th class="mdnone"></th>
            <th class="mdnone">STATUS</th>
            <th class="mdnone">NEXT TRAINING</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>22-07-2021</td>
            <td class="mdnone">1</td>
            <td class="mdnone">Reliable</td>
            <td class="mdnone">85</td>
            <td class="mdnone">Completed</td>
            <td class="mdnone">22-01-2021</td>
            <td class="arow-dwn"><a ><img src="../../../../assets/images/arow-right.svg"></a></td>
        </tr>
        <tr>
            <td>22-07-2021</td>
            <td class="mdnone">1</td>
            <td class="mdnone">Reliable</td>
            <td class="mdnone">85</td>
            <td class="mdnone">Completed</td>
            <td class="mdnone">22-01-2021</td>
            <td class="arow-dwn"><a ><img src="../../../../assets/images/arow-right.svg"></a></td>
        </tr>
      </tbody>
  </table>
      </div>
      <div class="col-md-12 mt-5">
        <div *ngFor="let item of [1,2]" >
          <a href="#demo{{item}}" class="cls-name" data-toggle="collapse">CLASS NAME <img style="transform:rotate(90deg);" src="../../../../assets/images/arow-right.svg"></a>
          <div id="demo{{item}}" class="collapse">
            <table class="table table-condensed" style="border-collapse:collapse;">
              <thead>
                  <tr>
                      <th>PARTICIPANT NAME</th>
                      <th class="mdnone">GENDER</th>
                      <th class="mdnone">DOB</th>
                      <th class="mdnone">PARENT NAME</th>
                      <th class="mdnone">EMAIL</th>
                      <th></th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let participant of [1,2];" >
                      <td>First/Last Name</td>
                      <td class="mdnone">male/female</td>
                      <td class="mdnone">DD-MM-YYYY</td>
                      <td class="mdnone">First/Last Name</td>
                      <td class="mdnone">Email</td>
                      <td class="arow-dwn"><a (click)="navigateTo(participant)" ><img src="../../../../assets/images/arow-right.svg"></a></td>
                  </tr>
                </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>
</div>