<div class="container">
    <div class="row mt-4">
        <div class="col-md-12 text-center">
            <a class="main-btn text-center" (click)="navigateTo()" >EDIT PAGE</a>
        </div>
    </div>

    <h1>ASSESS IT</h1>
    <h3 class="h3-heding text-center">HOW DO I ASSESS?</h3>
    <p class="text-center mt-5 h4">The resources have been designed to reveal certain movements within games. It would
        be impossible to assess all children against all the criteria in a single session. Concentrate the assessment on
        a small group of children within each game. Repeat the game, if necessary, spreading the assessment across a
        number of games. <br /><br />

        Observe the child performing the movement in terms of head, arms, body, legs as an initial observation to look
        at the general fluency and composure of the movement. Then, look at the movement again, breaking down the
        different components of the child’s body in relation to the criteria. Using the on screen scoring system, select
        numbers 1-5 to represent whether the child is emerging, ‘can do’, accomplished, confident or proficient against
        the movement criteria.</p>


    <div class="row mb-5">
        <div class="col-md-12 mt-5">
            <a href="#demo" class="cls-name ply-phse text-center" data-toggle="collapse">assess it PHASE 1 <img
                    src="../../../assets/images/aro-g.svg"></a>
            <div id="demo" class="collapse my-5">
                <div class="row">
                    <div class="col-md-3 text-center">
                        <img class="img-fluid" src="../../../assets/images/P1-T1-TTime-Assess.png" />
                        <h2 class="mt-4 p-0">TASK 1</h2>
                        <h3 class="mt-2">T-Time</h3>
                        <a class="main-btn-cncel text-center mt-2" href="">DOWNLOAD ACTIVITY CARD</a>
                    </div>
                    <div class="col-md-3 text-center">
                        <img class="img-fluid" src="../../../assets/images/P1-T2-Cornerball-Assess.png" />
                        <h2 class="mt-4 p-0">TASK 2</h2>
                        <h3 class="mt-2">Cornerball</h3>
                        <a class="main-btn-cncel text-center mt-2" href="">DOWNLOAD ACTIVITY CARD</a>
                    </div>
                    <div class="col-md-3 text-center">
                        <img class="img-fluid" src="../../../assets/images/P1-T3-Raid-Assess.png" />
                        <h2 class="mt-4 p-0">TASK 3</h2>
                        <h3 class="mt-2">Raid</h3>
                        <a class="main-btn-cncel text-center mt-2" href="">DOWNLOAD ACTIVITY CARD</a>
                    </div>
                    <div class="col-md-3 text-center">
                        <img class="img-fluid" src="../../../assets/images/P1-T4-SpaceInvaders2V1-Assess.png" />
                        <h2 class="mt-4 p-0">TASK 4</h2>
                        <h3 class="mt-2">Space Invaders 1 2v1</h3>
                        <a class="main-btn-cncel text-center mt-2" href="">DOWNLOAD ACTIVITY CARD</a>
                    </div>
                </div>
            </div>
            <a href="#demo1" class="cls-name ply-phse col-mr text-center mt-4" data-toggle="collapse">assess it PHASE 2
                <img src="../../../assets/images/aro-m.svg"></a>
            <div id="demo1" class="collapse">
                Yha
            </div>
            <a href="#demo2" class="cls-name ply-phse col-rd text-center mt-4" data-toggle="collapse">assess it PHASE 3
                <img src="../../../assets/images/aro-r.svg"></a>
            <div id="demo2" class="collapse">
                Yha
            </div>
        </div>
    </div>

</div>