<table class="table table-condensed" style="border-collapse:collapse;">
    <thead>
        <tr>
            <th>TRAINING TASK NAME</th>
            <th class="mdnone">QUESTIONS</th>
            <th class="mdnone">CREATED</th>
            <th class="mdnone">PUBLISHED</th>
            <th class="mdnone">STATUS</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of list">
            <td>Task Name Training-1</td>
            <td class="mdnone">#</td>
            <td class="mdnone">DD-MM-YYYY</td>
            <td class="mdnone">DD-MM-YYYY</td>
            <td class="mdnone">ACTIVE</td>
            <td class="arow-dwn"><a (click)="getTrainingTask(item)" ><img src="../../../../assets/images/arow-right.svg"></a></td>
        </tr>
    </tbody>
</table>